body,
html {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  margin-top: -10px;
  padding: 0px;
  height: 100vh;
  color: rgb(253, 255, 138);
}

.header {
  padding: 5px;
  width: 100%;
  text-align: left;
}

.header, 
.bottom {
  z-index: 10; 
  position: fixed;
}

p {
  z-index: 10; 
  position: fixed;
  bottom: 25px;
  width: 95%;
  font-size: 18px;
  /* width: 50%; */
  margin-left: 20px;

  /* background-color: white; */
}

h1 {
  font-weight: normal;
  margin-left: 9px;
  margin-top: 26px;
  font-size: 40px;
}

.gallery {
  /* float: left; */
  position: relative;
  /* width: 100%;
  height: auto;
  /* width: 24%; */
  /* margin-bottom: 50px;
  margin-right: 10px;
  margin-left: 10px; */ 
}

.gallery img {
  width: 100%;
  height: auto;
}

.video {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: auto;
}

.overlay {
  position: relative;
  z-index: 2;
  top: 8px;
  left: 8px;
}


/* Mobile
-------------------------------------------------- */

@media screen and (max-width: 800px) {
  .gallery {
    width: 95%;
  }

  .div2 {
    width: 95%;
  }

} 

